.Post{
    background-color: white;
    max-width: 500px;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    border-radius: 10px;
}

.virat{
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.post_text{
    font-weight: normal;
    font-size: 20px;
    padding: 10px;
    margin-top: 5px;
}

.post_header {
    display: flex;
    align-items: center;
    padding: 20px;
}

.Avatar_post{
    margin-right: 10px;
}
.heart{
    margin-bottom: 10px;
    width: 35px;
    margin-left: 10px;
}
.comm{
    margin-bottom: 0;
    margin-left: 5px;
    width: 55px;
}
.share{
    margin-left: 10px;
    width: 30px;
    margin-bottom: 10px;
}
.save{
    width: 38px;
    margin-left: 315px;
    margin-bottom: 8px;
}
.Comment{
    font-size: 20px;
    height: 35px;
    width: 495px;
}